
.tunes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.tune {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}