
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("/images/pipe-band.jpg");
  background-size: cover;        
  background-position: center;  
  background-repeat: no-repeat; 
  color: whitesmoke;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
}

h1, h2 {
  color: whitesmoke;
}

.tunes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.tune {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  border: 1px solid whitesmoke;
  border-radius: 12px;
  height: 10vh;
  padding: 0 25px;
}

.tune a {
  text-decoration: none;
  color: inherit;
  font: inherit;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 10vh;
  list-style-type: none;
}

main {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
  height: 10vh;
  background-color: #333333;
}
